<a href="https://colab.research.google.com/github/leeryleprechaun/MSDS_Practicum_Public/blob/main/EDA_Practicum_Public.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Initial EDA
###### C6.5_C2 Account for your organization’s gross global Scope 3 emissions, disclosing and explaining any exclusions. - Evaluation status
###### C6.5_C2_Account for your organization’s gross global Scope 3 emissions, disclosing and explaining any exclusions. - Metric tonnes CO2e
###### C6.5_C3_Account for your organization’s gross global Scope 3 emissions, disclosing and explaining any exclusions. - Emissions calculation methodology
###### C6.5_C4_Account for your organization’s gross global Scope 3 emissions, disclosing and explaining any exclusions. - Percentage of emissions calculated using data obtained from suppliers or value chain partners

In [ ]:
# Loading in packages and the raw date
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import tkinter

%matplotlib inline

df = pd.read_csv('C6.csv')

df

In [ ]:
# Replacing all of the "Question not applicable with NaN"
df = df.replace('Question not applicable', 'NaN')
df.head(25)

In [ ]:
df.info()

In [ ]:
#Looking at just the Purchased goods and services
df_small = df[df.Row == 1.0]
df_small

In [ ]:
#data frame of just those companies that listed scope three emissions as Relavant and Calculated
relevant_df = df_small[df_small.C6_5_C1 == "Relevant, calculated"]
relevant_df.drop(['Public','Response received date', 'Response received date', 'Primary questionnaire sector', 'Row', 'RowName', 'C6_5_C1', 'C6_5_C3', 'C6_5_C5'],axis=1,inplace=True)



relevant_df['C6_5_C2'] = relevant_df['C6_5_C2'].astype(float)
relevant_df

In [ ]:
#Companies that listed scope three emissions as Relevant, but have not year calculated them
relevant_nocalc_df = df_small[df_small.C6_5_C1 == "Relevant, not yet calculated"]
relevant_nocalc_df

In [ ]:
# A list of all the Primary sectors
print(df['Primary sector'].unique())
df.nunique()

In [ ]:
#Taking a look at all the IT and Software development companies
df_sectors = relevant_df.groupby(['Primary sector'])
df_ITSD = df_sectors.get_group('IT & software development')
df_ITSD.head(25)

In [ ]:
df_ITSD.describe()

In [ ]:
#Creating a clean compy of the data, filtering it by relevant and calculated businesses, converting the emissions data to
# a numerical value, and dropping unwanted columns
df2 = df

relevant_cal = df2[df2.C6_5_C1 == "Relevant, calculated"]

relevant_cal['C6_5_C2'] = relevant_cal['C6_5_C2'].astype(float)

relevant_cal.drop(['Public','Response received date', 'Response received date', 'Row', 'Primary questionnaire sector', 'C6_5_C1', 'C6_5_C3', 'C6_5_C5'],axis=1,inplace=True)
relevant_cal.head(5)

In [ ]:
#Pivot table to list all of the areas of impact and the emission values
pivot_df = relevant_cal.pivot(index='Organization', columns='RowName', values = ['C6_5_C2'])
pivot_df.head(10)

In [ ]:
#replacing 'nan' with a zero value
pivot_df = pivot_df.replace('Nan', 0)
pivot_df.head(5)

In [ ]:
#Summing emissions values
total_scope_3 = pivot_df

total_scope_3['Total Scope 3 Emissions'] = total_scope_3.sum(axis=1)

total_scope_3.head(50)

In [ ]:
total_scope_3.info()

In [ ]:
# creating a list of all the organizations, and then limiting them to 1 copy of each
df_organization = relevant_cal.drop_duplicates(subset=['Organization'], keep='first')
df_organization.info()

In [ ]:
df_organization.head(10)

In [ ]:
combined = pd.merge(df_organization, total_scope_3 , on = 'Organization', how = 'outer')
combined

In [ ]:
total_scope_3.to_csv('scope_3_emissions.csv', header=True, index=True)

# Week 1 Summary
###### There are about 2100 accounts that listed "Purchased Goods and Services as both Relevant and Caluculated", another  1100 listed it as relevant, but not calcualted.
###### There are 58 Unique Primary Sectors.
###### The mean value of the IT & Software Development Emissions are 419,394 metric tons 

###### It might also be interesting to look at C8, which is energy usage as a percentage compared to operation cost

###### C7 looks at scope 1 emmisions, there appears to be some good data in that area as well

###### We could compare scope 1 and 2 emissions with scope three emissions

###### We could also take a look at the increase of scope 1 emissions over a 4 year period and the number of companies now reporting that have not been

###### C6.10 Row O "Describe your gross global combined Scope 1 and 2 emissions for the reporting year in metric tons CO2e per unit currency total revenue and provide any additional intensity metrics that are appropriate to your business operations. - Metric denominator: Unit total"

###### 


### Questions for Ty
###### 1) Are we focused on just scope three emissions? There is data for scope 1 and 2 in the data set.
###### 2) We really need some metric to compare size of scope 3 emissions to output of goods or dollar value or something to make the number scale with the output of the business. 
###### 3) Are we wanting to compare the methadology for collection to the vailidity of the numbers? We may have enough information to do this in the data set